@font-face { font-family: 'RobotoMedium'; src: url("http://playground.responsivedesign.is/css/Roboto-Medium-webfont.eot"); src: url("http://playground.responsivedesign.is/css/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://playground.responsivedesign.is/css/Roboto-Medium-webfont.woff") format("woff"), url("http://playground.responsivedesign.is/css/Roboto-Medium-webfont.ttf") format("truetype"), url("http://playground.responsivedesign.is/css/Roboto-Medium-webfont.svg#RobotoMedium") format("svg"); font-weight: normal; font-style: normal; }

/* line 11, ../sass/ami.scss */
body { background-color: #fff; background-image: url("https://dl.dropbox.com/u/17903022/background.jpg"); background-size: 100%; background-size: cover; margin-top: 20px; font-family: 'RobotoMedium'; margin: 0; padding: 0; }

/* line 20, ../sass/ami.scss */
input { width: 85%; height: 2em; font-size: 1.6em; }

/* line 26, ../sass/ami.scss */
h3, dl, dd, dt { margin: 1em 2em; }

/* line 27, ../sass/ami.scss */
h2 { margin: 1em; }

/* line 28, ../sass/ami.scss */
dt { font-weight: bold; }

/* line 29, ../sass/ami.scss */
p { line-height: 1.6; margin: 1em 2em; }
/* line 29, ../sass/ami.scss */
p.intro { clear: both; }

/* line 31, ../sass/ami.scss */
a { color: #ede6dc; text-decoration: none; transition: all 1s ease; }
/* line 33, ../sass/ami.scss */
a:hover { color: #cc4e46; background-color: #ede6dc; }

/* line 38, ../sass/ami.scss */
a.button { background-color: #ede6dc; color: #cc4e46; width: 8%; line-height: 1.4em; margin: 0; font-size: 2em; text-align: center; float: right; border: solid 1px #8e352e; box-shadow: 0 0 3px #333333; }
/* line 49, ../sass/ami.scss */
a.button:hover { background-color: #cc4e46; color: #ede6dc; }

/* line 55, ../sass/ami.scss */
h1 { text-transform: uppercase; text-align: center; }

/* line 56, ../sass/ami.scss */
.wrapper { width: 90%; max-width: 1200px; margin: 0 auto; }

/* line 62, ../sass/ami.scss */
.display { position: relative; left: 0px; height: 600px; }

/* line 68, ../sass/ami.scss */
.url { float: left; background-color: #cc4e46; width: 100%; margin: 0 auto; box-shadow: 0px -2px 5px #333333; }

/* line 75, ../sass/ami.scss */
form { width: 85%; margin: 1em auto; }

/* line 79, ../sass/ami.scss */
div { background-repeat: no-repeat; background-size: 100%; overflow: hidden; }

/* line 85, ../sass/ami.scss */
iframe { transform: scale(0.219); -webkit-transform: scale(0.219); -o-transform: scale(0.219); -ms-transform: scale(0.219); -moz-transform: scale(0.219); transform-origin: top left; -webkit-transform-origin: top left; -o-transform-origin: top left; -ms-transform-origin: top left; -moz-transform-origin: top left; margin: 0; padding: 0; position: relative; }

/* line 101, ../sass/ami.scss */
.mobile { background-image: url("https://dl.dropbox.com/u/17903022/iphone-optimised.png"); position: absolute; width: 95px; height: 196px; top: 375px; left: 300px; z-index: 5; }
/* line 109, ../sass/ami.scss */
.mobile iframe { width: 320px; height: 480px; top: 33px; left: 11px; overflow-y: hidden; }

/* line 118, ../sass/ami.scss */
.tablet { background-image: url("https://dl.dropbox.com/u/17903022/ipad-optimised.png"); width: 246px; height: 400px; z-index: 3; position: absolute; left: 120px; top: 230px; }
/* line 126, ../sass/ami.scss */
.tablet iframe { width: 767px; height: 1024px; top: 36px; left: 39px; overflow-y: hidden; }

/* line 135, ../sass/ami.scss */
.laptop { background-image: url("https://dl.dropbox.com/u/17903022/laptop-screen-optimised.png"); width: 477px; height: 307px; top: 264px; left: 560px; position: absolute; z-index: 2; }
/* line 143, ../sass/ami.scss */
.laptop iframe { width: 1280px; height: 802px; top: 26px; left: 60px; transform: scale(0.277); -webkit-transform: scale(0.277); -o-transform: scale(0.277); -ms-transform: scale(0.277); -moz-transform: scale(0.277); transform-origin: top left; -webkit-transform-origin: top left; -o-transform-origin: top left; -ms-transform-origin: top left; -moz-transform-origin: top left; }

/* line 163, ../sass/ami.scss */
.desktop { position: absolute; width: 566px; height: 538px; background-image: url("https://dl.dropbox.com/u/17903022/large-screen-optimised.png"); top: 0px; left: 220px; z-index: 1; }
/* line 171, ../sass/ami.scss */
.desktop iframe { left: 28px; top: 38px; width: 1600px; height: 992px; transform: scale(0.3181); -webkit-transform: scale(0.3181); -o-transform: scale(0.3181); -ms-transform: scale(0.3181); -moz-transform: scale(0.3181); transform-origin: top left; -webkit-transform-origin: top left; -o-transform-origin: top left; -ms-transform-origin: top left; -moz-transform-origin: top left; }

@media (max-width: 1160px) { /* line 189, ../sass/ami.scss */
  .display { width: 95%; height: 550px; transform: scale(0.81); -webkit-transform: scale(0.81); -o-transform: scale(0.81); -ms-transform: scale(0.81); -moz-transform: scale(0.81); }
  /* line 198, ../sass/ami.scss */
  .desktop { left: 180px; }
  /* line 199, ../sass/ami.scss */
  .laptop { left: 520px; }
  /* line 200, ../sass/ami.scss */
  .tablet { left: 80px; }
  /* line 201, ../sass/ami.scss */
  .mobile { left: 260px; }
  /* line 202, ../sass/ami.scss */
  input { width: 88%; } }
@media (max-width: 1070px) { /* line 206, ../sass/ami.scss */
  .display { left: -50px; } }
@media (max-width: 1000px) { /* line 212, ../sass/ami.scss */
  .display { height: 500px; transform: scale(0.71); -webkit-transform: scale(0.71); -o-transform: scale(0.71); -ms-transform: scale(0.71); -moz-transform: scale(0.71); top: -40px; }
  /* line 221, ../sass/ami.scss */
  .desktop { left: 140px; }
  /* line 222, ../sass/ami.scss */
  .laptop { left: 480px; }
  /* line 223, ../sass/ami.scss */
  .tablet { left: 40px; }
  /* line 224, ../sass/ami.scss */
  .mobile { left: 220px; } }
@media (max-width: 850px) { /* line 228, ../sass/ami.scss */
  .display { height: 500px; transform: scale(0.65); -webkit-transform: scale(0.65); -o-transform: scale(0.65); -ms-transform: scale(0.65); -moz-transform: scale(0.65); }
  /* line 236, ../sass/ami.scss */
  .desktop { left: 100px; }
  /* line 237, ../sass/ami.scss */
  .laptop { left: 440px; }
  /* line 238, ../sass/ami.scss */
  .tablet { left: 0px; }
  /* line 239, ../sass/ami.scss */
  .mobile { left: 180px; } }
@media (max-width: 768px) { /* line 244, ../sass/ami.scss */
  .display { height: 450px; transform: scale(0.55); -webkit-transform: scale(0.55); -o-transform: scale(0.55); -ms-transform: scale(0.55); -moz-transform: scale(0.55); }
  /* line 252, ../sass/ami.scss */
  a.button { font-size: 1.6em; } }
/* line 254, ../sass/ami.scss */
input { height: 1.6em; }

@media (max-width: 670px) { /* line 257, ../sass/ami.scss */
  .display { height: 400px; left: -70px; transform: scale(0.45); -webkit-transform: scale(0.45); -o-transform: scale(0.45); -ms-transform: scale(0.45); -moz-transform: scale(0.45); } }
@media (max-width: 580px) { /* line 268, ../sass/ami.scss */
  input { font-size: 1.4em; height: 1.4em; width: 100%; }
  /* line 273, ../sass/ami.scss */
  a.button { width: 100%; float: left; font-size: 1.4em; margin-top: 0.5em; } }
@media (max-width: 560px) { /* line 282, ../sass/ami.scss */
  .display { height: 270px; top: -65px; transform: scale(0.37); -webkit-transform: scale(0.37); -o-transform: scale(0.37); -ms-transform: scale(0.37); -moz-transform: scale(0.37); } }
@media (max-width: 440px) { /* line 295, ../sass/ami.scss */
  .display { left: -17px; top: -65px; width: 70px; transform: scale(0.35); -webkit-transform: scale(0.35); -o-transform: scale(0.35); -ms-transform: scale(0.35); -moz-transform: scale(0.35); } }
@media (max-width: 380px) { /* line 310, ../sass/ami.scss */
  .display { height: 235px; left: -17px; top: -65px; width: 70px; transform: scale(0.27); -webkit-transform: scale(0.27); -o-transform: scale(0.27); -ms-transform: scale(0.27); -moz-transform: scale(0.27); }
  /* line 321, ../sass/ami.scss */
  .desktop { left: 100px; }
  /* line 322, ../sass/ami.scss */
  .laptop { left: 515px; }
  /* line 323, ../sass/ami.scss */
  .tablet { left: 0px; }
  /* line 324, ../sass/ami.scss */
  .mobile { left: 180px; }
  /* line 326, ../sass/ami.scss */
  h1 { font-size: 1.2em; }
  /* line 327, ../sass/ami.scss */
  p { margin: 1em; } }
/*

- reduce the size of the input
- check the height of the iframes on ipad and iphone
- check the alignment of the iframe on the desktop.

*/
